 div {
      border-color: #777;
      border-width: 1px;
      border-style: solid;
      background-color: #FFFFEE;
      overflow: auto;
    }

    #first{
      height: 500px;
      width: 600px;
      float: left;
    }

    #contents{
      height: 500px;
      width: 500px;
      float: right;
    }

    .node {
        stroke: #fff;
        stroke-width: 2px;
    }

    .link {
        stroke: #999;
        stroke-opacity: 5;
    }
    .gf-content-div{
      border-style: solid;
      color: #2F78B7;
      background-color: #E2E8EF;

    }